
.DealsTable {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

.DealsTable--headerCell {
  color: #D5DDE5;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 23px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

.DealsTable--headerCell:first-child {
  border-top-left-radius: 10px;
}

.DealsTable--headerCell:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}
