.NewDealForm {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  background-color: darkgreen;
  border-radius: 2px;
  width: 350px;
}

.NewDealForm--div {
  margin-top: 5px;
}

.NewDealForm--label {
  color: white;
  font-weight: bold;
}

.NewDealForm--input {
  margin-left: 5px;
  font-size: 20px;
}

.NewDealForm--button {
  font-size: 20px;
  margin-top: 10px;
  width: 300px;
}
